{% extends "admin/base_site.html" %}
{% block content %}
<h1>All Log Entries</h1>
<style>
    .log-user-cell {
        width: 500px; /* 원하는 너비로 설정 */
        white-space: nowrap; /* 내용이 줄 바꿈 없이 한 줄로 표시 */
    }
</style>
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Action</th>
            <th>Object</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.action_time }}</td>
            <td class="log-user-cell">{{ log.user }}</td>
            <td>
                {% if log.is_addition %}
                    Added
                {% elif log.is_change %}
                    Changed
                {% elif log.is_deletion %}
                    Deleted
                {% endif %}
            </td>
            <td>
                {% if log.get_admin_url %}
                    <a href="{{ log.get_admin_url }}">{{ log.object_repr }}</a>
                {% else %}
                    {{ log.object_repr }}
                {% endif %}
            </td>
            <td>{{ log.change_message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
