/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2rem; /* 기본 폰트 크기 증가 */
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center; /* 기본적으로 중앙 정렬 */
    padding: 1rem; /* 컨테이너의 패딩 추가 */
}

header {
    padding: 20px;
}

/* 헤더 컨텐츠의 Flexbox 레이아웃 */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* 로고 스타일 */
.logo {
    width: 200px; /* 로고 크기 조정 */
}

/* 제목 스타일 */
h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 16px; /* 셀 내 여백 */
}

/* 강조 텍스트 스타일 */
.highlight-text {
    font-size: 1.5em;
    font-weight: bold;
}

/* 폼 스타일 */
form {
    max-width: 600px;
    margin: 0 auto; /* 폼을 중앙 정렬 */
    padding: 1rem; /* 폼의 패딩 추가 */
    box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */
}

/* 공백을 위한 클래스 */
.spacer {
    height: 3rem; /* 공백 높이 조정 (1rem보다 큰 값) */
}

/* 레이블의 텍스트 크기 조정 */
.large-text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem; /* 레이블과 입력 필드 사이에 여백 추가 */
}

/* 폼 그룹 스타일 */
/* 폼 그룹의 스타일 */
.form-group {
    margin-bottom: 2rem; /* 폼 그룹 간의 공백 추가 (2rem으로 조정) */
}

/* 레이블의 스타일 (선택 사항) */
.form-group label {
    display: block; /* 레이블을 블록으로 설정하여 가로 폭을 100%로 채움 */
    margin-bottom: 0.5rem; /* 레이블과 입력 필드 사이에 여백 추가 */
    font-size: 1rem; /* 폰트 크기 조정 */
}

input[type="text"] {
    display: block; /* 입력 필드를 블록으로 설정하여 가로폭을 컨테이너에 맞게 조정 */
    width: 100%; /* 입력 필드의 너비를 100%로 설정 */
    padding: 0.5rem; /* 입력 필드에 패딩 추가 */
}


/* 버튼 스타일 */
button {
    padding: 1rem 2rem; /* 버튼의 패딩 증가 */
    font-size: 1.2rem; /* 버튼의 폰트 크기 증가 */
    display: block;
    margin-top: 0.5rem; /* 버튼 상단에 여백 증가 */
}


/* 푸터 스타일 */
footer {
    margin-top: 2rem;
    text-align: left; /* 좌측 정렬 */
}

/* Flexbox 컨테이너 스타일 */
.flex-container {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* h2 스타일 */
h2 {
    flex-grow: 1; /* 공간을 채우도록 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 2em; /* 폰트 크기 증가 */
    margin: 0; /* 기본 여백 제거 */
    margin-top: 4rem; /* 하단 여백을 줄여서 공백을 줄임 */
    margin-bottom: 4rem; /* 하단 여백을 줄여서 공백을 줄임 */
}
/* 섹션 스타일 */
section {
    border: 2px solid #dddddd; /* 테두리 색상과 두께 설정 */
    padding: 5px; /* 테두리와 내용 사이의 여백 줄이기 */
    margin: 5px auto; /* 상하 여백 추가 및 좌우 중앙 정렬 */
    border-radius: 8px; /* 모서리 둥글게 만들기 (선택 사항) */
    background-color: #f9f9f9; /* 배경 색상 설정 (선택 사항) */
    max-width: 500px; /* 최대 너비 설정 */
    width: 100%; /* 너비를 100%로 설정하여 반응형 디자인 적용 */
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

section h3 {
    margin: 0 0 30px 0; /* 제목 하단 여백 추가 */
}

.item-checkbox {
    margin-right: 8px; /* 체크박스와 텍스트 사이 여백 추가 */
}

/* 폼 그룹의 스타일 */
.site-group {
    margin: 0; /* 기본 여백 제거 */
}

/* 폼 그룹의 라벨 스타일 */
.site-group label {
    display: block; /* 라벨을 블록으로 설정하여 가로 폭을 100%로 채움 */
    margin-bottom: 5px; /* 라벨과 입력 필드 사이 여백 추가 */
    font-size: 0.8em; /* 라벨의 폰트 크기 설정 (조정 가능) */
}
/* 반응형 디자인 */
@media (max-width: 600px) {
    .logo {
        width: 100px; /* 모바일에서 로고 크기 조정 */
    }

    h1 {
        font-size: 1.25em; /* 모바일에서 제목 크기 조정 */
    }

    h2 {
        font-size: 1.2em; /* 모바일에서 h2 크기 조정 */
    }

    .spacer {
        height: 1rem; /* 모바일에서 공백 높이 조정 */
    }

    form {
        padding: 0.5rem; /* 모바일에서 폼의 패딩 줄이기 */
    }
}
