/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header {
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 150px; /* Adjust this value as needed for a larger image */
}

h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 16px; /* Increased padding for better spacing */
}

.highlight-text {
    font-size: 1.5em; /* Increased font size */
    font-weight: bold;
}
